<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>尚硅谷 ToDo List</title>
    <link href="./stylesheets/reset.css" rel="stylesheet" type="text/css">
    <link href="./stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="page">

    <div id='notLoginHeader' class="header box">
        <!-- 创建导航条 -->
        <ul class="nav">
            <li>
                <div class="avatar">

					<img src="/avatars/default_avatar_2.png">

                </div>
            </li>
            <li>
                <div class="text">
                    <%=username %>
                </div>
            </li>
            <li>
                <div class="text">
                    <a href="/logout">登出</a>
                </div>
            </li>
        </ul>

        <!-- 设置logo -->
        <h1 class="logo">
            <a href="/">TODO List</a>
        </h1>

    </div>
    <div class="main box">
        <div class="box">

            <div class="box todos">
                <h2 class="box">待办事项</h2>
                <ul>
                    <% if (itemList && itemList.length === 0) { %>
                    <p>目前没有待办事项！</p>
                    <% } else { %>
                    <% for (var i = 0; i < itemList.length; i++) { %>
                    <% if (itemList[i].state === 1) { %>
                    <li>
                        <%= itemList[i].title %>
                        <a href="/updateState?id=<%= itemList[i]._id %>&state=2">完成</a>,
                        <a class="update_btn" href="javascript:">修改</a>,
                        <a href="/updateState?id=<%= itemList[i]._id %>&state=0"
                           onclick="return confirm('删除以后不能恢复的，确定？')">删除</a>
                        <form class="hide_form" action="/updateTitle" method="post">
                            <input type="hidden" name="id" value="<%= itemList[i]._id %>">
                            <input type="text" name="title" value="<%= itemList[i].title %>">
                            <input type="submit" value="提交">
                            <input class="hide_btn" type="button" value="取消">
                        </form>
                    </li>
                    <% } else if (itemList[i].state === 2) { %>
                    <li class="finished">
                        <del><%= itemList[i].title %></del>
                        <a href="/updateState?id=<%= itemList[i]._id %>&state=1">恢复</a>,
                        <a class="update_btn" href="javascript:">修改</a>,
                        <a href="/updateState?id=<%= itemList[i]._id %>&state=0"
                           onclick="return confirm('删除以后不能恢复的，确定？')">删除</a>
                        <form class="hide_form" action="/updateTitle" method="post">
                            <input type="hidden" name="id" value="<%= itemList[i]._id %>">
                            <input type="text" name="title" value="<%= itemList[i].title %>">
                            <input type="submit" value="提交">
                            <input class="hide_btn" type="button" value="取消">
                        </form>
                    </li>
                    <% } %>
                    <% } %>
                    <% } %>
                </ul>
            </div>

            <div class="box post">
                <h2>新增</h2>
                <form action="/addItem" method="post" id="post_new">
                    <p><input type="text" name="title" class="long_txt" /></p>
                    <p><input type="submit" class="submit" value="添加" /></p>
                </form>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript" src="./js/jquery-1.12.4.js"></script>
<script type="text/javascript">
  $(function () {
      $('.update_btn').click(function () {
          $('.hide_form').hide();
          $(this).siblings('.hide_form').show();
      });
      $('.hide_form>.hide_btn').click(function () {
          $(this).parent().hide();
      })
  })
</script>
</body>
</html>
